.background {
    /* background-color: rgb(239, 245, 250); */
    background-image: url('../../../assets/background.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.contextContainer {  
    position: fixed;
    top: 55%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 90vw !important;
    background-color: white;
    border-radius: 10px;
    z-index: 15;
    height: 90%;   
  
}
.logo{
    position: absolute;
    height:6%;
    margin-left: 6%;
    margin-top: 1%;
}
.spinner{
    color: rgb(32, 142, 227) !important;
    position: fixed  !important;
    top: 50%  !important;
    left: 50%  !important;
    transform: translate(-50%, -50%)  !important;
}

.side-navbar {
    top: 5;
    left: 0;
    position: fixed;
    height: 100%;
    width: 60px; 
    /* background-color: rgb(152, 152, 155); */
    z-index: 10;
}
.home-icons {
    display: flex;
    align-items: flex-start; 
    justify-content:space-around;
    height: 40%;
    flex-direction: column;
    margin-top: 2%; 
    margin-left: 15%;
    color: rgb(55, 55, 55);
}
