.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    width: fit-content;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
 .acordion{
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}
