.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}
.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 8px;
}
.acordion {
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}
.searchbar {
  position:fixed;
  width: 25%;
  top: -12%;
}
.search_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}
.search_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.details-header {
  margin-left: 1%;
  width:97%;
  display: flex;
  justify-content: space-between;
}
.details-header p {  
  text-align: left;
  align-items: center;
}
.mat-expansion-panel-header-description {
  display: flex;
  align-items: center;
}
.mat-expansion-panel-header-description p {
  margin: 0;
  padding: 5px;
}
.nameContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon {
  color: gray; /* Set the color to gray */
}
.headerCard{
  height: 8vh;
  margin-bottom: 2%;
}
.no-results-message{
  text-align: center;
}
.add-button{
   margin-right: 7px;
   
}
.downloadButton{
  background-color: lightgray !important;
}
.head{
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
}
.allDetailsTable{
  max-height: 80%;
  overflow-y: auto;
  scrollbar-width: thin;
  margin-bottom: 5%;
}
