.mat-stepper {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.formContainer {
    margin: 0 auto; 
    width: 62%; 
    height: 100%;
    padding-right: 20%;
    padding-left: 20%;
    overflow-y: auto;
    scrollbar-width: thin;
    margin-top: 2%;
}

#header {
    text-align: center;
    font-family: Helvetica;
    width: auto;
}

.addButton {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 16px;
}

.names {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.names mat-form-field {
    width: 48%;
}

.privateDetails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.privateDetails mat-form-field {
    width: 48%;
}

.privateDetails mat-button-toggle-group {
    margin-top: 16px;
}

.mat-button-toggle-group {
    margin-top: 16px;
}

.mat-step {
    text-align: center;
}

.addButton {
    margin-top: 16px;
}

.button-container {
    text-align: right;
    margin-top: 16px;
}

.nextButton {
    margin-left: 90%;
}

form {
    margin-top: 5%;
}

.jobField {
    width: auto;
    flex: 1;
    margin-right: 10px;
}

.addingJobs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navigatesButtons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6%;
}

.navigatesButtons button {
    margin-left: 5px;
}
.finish-buttons {
    margin-top: 40%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.finish-buttons button {
    margin: 0 10px;
}
.finish-text{
    margin-top: 40%;
    text-align: center;
}